<?xml version="1.0" encoding="utf-8"?>
<config>
    <modules>
        <module category="Datenaustausch" context="hsl20_3_Hue" id="14100" name="Hue Group (14100)" version="3.0">
            <inputs>
				<input type="number" const_name="trigger" init_value="0">Get Status</input>
                <input type="string" const_name="hue_key" init_value="">Key</input>
				<input type="number" const_name="port" init_value="0">Port info page</input>
				<input type="number" const_name="itm_idx" init_value="0">Item Id</input>
				<input type="number" const_name="on_off" init_value="0">On/Off (1/0)</input>
                <input type="number" const_name="bri" init_value="0">Brightness (%)</input>
				<input type="number" const_name="r" init_value="0">r</input>
				<input type="number" const_name="g" init_value="0">g</input>
				<input type="number" const_name="b" init_value="0">b</input>
				<input type="number" const_name="rel_Dim" init_value="0">KNX rel. Dimm</input>
				<input type="number" const_name="dim_ramp" init_value="0.5">KNX Dimm Rampe [s]</input>
            </inputs>
            <outputs>
				<output type="number" const_name="status_on_off" init_value="0">RM On/Off (01)</output>
				<output type="number" const_name="bri" init_value="0">RM Brightness</output>
				<output type="number" const_name="r" init_value="0">r</output>
				<output type="number" const_name="g" init_value="0">g</output>
				<output type="number" const_name="b" init_value="0">b</output>
				<output type="number" const_name="reachable" init_value="0">Lght Reachable</output>
            </outputs>
			<remanent_variables>
            </remanent_variables>
            <imports>
				<import>libs/hue_lib</import>
            </imports>			
        </module>			
    </modules>
</config>
